.b1 {
    background: green;
    border: 1px solid green;
}

.b2 {
    background: blue;
    border: 1px solid blue;
}

.b3 {
    background: red;
    border: 1px solid red;
}

.b4 {
    background: purple;
    border: 1px solid purple;
}