.p-5 {
    padding: 5px;
}

.pr-5 {
    padding-right: 5px;
}

.p-10 {
    padding: 10px;
}

.p-20 {
    padding: 20px;
}

.pb-50 {
    padding-bottom: 50px;
}

.pt-30 {
    padding-top: 30px;
}

.m-5 {
    margin: 5px;
}

.mr-5 {
    margin: 5px;
}

.m-10 {
    margin: 10px;
}

.mt-10 {
    margin-top: 10px;
}

.m-20 {
    margin: 20px;
}

.mb-20 {
    margin-bottom: 20px;
}

.mb-10 {
    margin-bottom: 10px;
}

.ptb {
    padding: 3.5rem 0;
}

.gap {
    gap: 5rem;
}