:root {
    --white: #fff;
    --white-nav: #FDFEFE;
    --dark-content: #17202A;
    --dark-text: #000;
    --text-color: #444;
    --green: #27AE60;
    --color-instagram: #fa1079;
    --color-linkedln: #0072b1;
    --color-github: #333;
    --font-montserrat: 'Montserrat', sans-serif;
    --font-inter: 'Inter', sans-serif;
    --box-shadow: 0 6px 9px 0 rgb(0 0 0 / 15%);
    --box-shadow-nav: rgb(0 0 0 / 22%) 0px 2px 18px 0px;
}