@use "./base";
@use "./debug";
@use "./flex";
@use "./utils";
@use "./variables";
@use "./container";
@use "./button";

.image {
  width: 390px;
}

.image-galerie {
  width: 300px;
}

.div {
  margin-right: 2rem;
}

.app-container {
  overflow-x: hidden;
}