.contact {
    background: var(--dark-content);
    padding: 3rem 1rem;

    h2 {
        color: var(--white);
        padding-bottom: 0.5rem;
    }

    p {
        color: var(--white);
    }
}

@media screen and (max-width:616px) {
    .contact {
        h2 {
            font-size: 1.2rem;
        }

        p {
            font-size: 0.8rem;
        }
    }
}

@media screen and (max-width:492px) {
    .contact {
        h2 {
            font-size: 1rem;
        }

        p {
            font-size: 0.6rem;
        }
    }
}