.realisation {
    background: var(--dark-content);
    padding: 1rem 6rem;
    color: var(--white);
    height: 80vh;

    h1 {
        text-align: center;
    }

}

.card {
    padding: 1rem;
    width: 250px;

    img {
        height: 200px;
        width: 200px;
        object-fit: cover;
    }

    img:hover {
        transform: scale(1.5);
    }

    background: var(--white);
    color: var(--dark-text);
    border-radius: 15px;

    h3 {
        padding: 0.5rem;
        font-size: 0.8rem;
        text-align: center;
    }

    p {
        text-align: center;

        a {
            color: var(--dark-text);
        }
    }


}