.realisation {
    background: var(--dark-content);
    padding: 1rem 6rem;
    color: var(--white);
    height: 80vh;

    h1 {
        text-align: center;
    }

}

.card {
    padding: 1rem;
    width: 250px;
    overflow: hidden;
    cursor: pointer;

    img {
        height: 200px;
        width: 100%;
        object-fit: contain;
        transform: scale(1);
        transition: transform 0.3s ease-out;
        display: block;
        margin: left auto right auto;

    }

    img:hover {
        transform: scale(1.2);
    }

    background: var(--white);
    color: var(--dark-text);
    border-radius: 15px;

    h3 {
        padding: 0.5rem;
        font-size: 0.8rem;
        text-align: center;
    }

    p {
        text-align: center;

        a {
            color: var(--dark-text);
        }
    }


}